[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
pillow = "*"
dj-url-filter = "*"
six = "*"
django-cors-headers = "*"
requests = "*"
drf-writable-nested = "*"
django-restql = "*"
pytz = "*"
python-socketio = "*"
sentry-sdk = "*"
mysqlclient = "*"
python-dotenv = "*"
openai = "*"
firebase-admin = "*"
django-nested-inline = "*"
django-extensions = "*"
django-cloudinary-storage = "*"
brotli = "*"
whitenoise = "*"
martor = {git="git+https://github.com/oasisMystre/django-markdown-editor-grappelli", ref="a3f7639434cd3a9d41d4bf6e21ae885a0e903ef9"}
django-nested-admin = "*"
rest-framework-generic-relations = "*"
django-debug-toolbar = "*"
daphne = "*"
djira = {git = "git+https://github.com/oasisMystre/djira", ref="97eb5b37aae7cfee2808f9e9b8ded063e7b7c1ab"}
numpy = "*"
dj-database-url = "*"
psycopg = "*"
django-grappelli = {git = "git+https://github.com/sehmaschine/django-grappelli.git"}
django-genericrelationview = {git = "git+https://github.com/macornwell/genericrelationview/"}
celery = "*"
pymemcache = "*"
rave-python = {git = "git+https://github.com/oasisMystre/Python-v2"}
twisted = {extras = ["http2", "tls"], version = "*"}
psycopg2-binary = "*"

[dev-packages]
ngrok = "*"
uvicorn = "*"

[requires]
python_version = "3.10"
