pipenv install Django djangorestframework Pillow dj-URL-filter six django-cors-headers requests drf-writable-nested Django-restql django-grappelli pytz python-socketio sentry-sdk mysqlclient python-dotenv openai firebase-admin Django-nested-inline Django-extensions Django-Cloudinary-storage brotli whitenoise martor Django-nested-admin rest-framework-generic-relations Django-debug-toolbar